a {
  color: rgb(0, 110, 255);
}

a:hover {
  color: rgb(255, 208, 0);
}

.price {
  font-weight: 550;
  color: green;
}

.add {
  background-color: rgb(255, 204, 0);
  color: black;
  border: 0px;
  font-weight: 525;
  font-size: 15px;
  border-radius: 25px;
  margin: 15px 0px 15px 15px;
  padding: 15px 65px;
}

.buy {
  background-color: rgb(255, 153, 0);
  color: black;
  border: 0px;
  font-weight: 525;
  font-size: 15px;
  border-radius: 25px;
  margin: 15px 0px 15px 15px;
  padding: 15px 65px;
}

.add:hover {
  background-color: rgb(227, 186, 0);
}

.buy:hover {
  background-color: rgb(193, 116, 2);
}

button:active {
  opacity: 55%;
}
